[submodule "external/cadical"]
	path = external/cadical
	url = https://github.com/arminbiere/cadical.git
	ignore = dirty
[submodule "external/cudd"]
	path = external/cudd
	url = https://github.com/ivmai/cudd.git
	ignore = dirty
